/* TO CREATE WATCHER: sass --watch scss/styles.scss:css/styles.css */

// Import variables and mixinss
@import 'variables';
@import 'mixins';

// Import layout styles
@import 'Layouts/wrapper';
@import 'Layouts/header';
@import 'Layouts/footer';

// Import component styles
@import 'Components/buttons';

// Import page-specific styles
@import 'Pages/home';
@import 'Pages/about';
@import 'Pages/contact';


// Global CSS
body {
    font-family: $Font-regular;
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $grey-dark-color;
    overflow-x: hidden; /* Prevent horizontal scrolling on the body */
}